
.body{
  background-color: #e1ebec;
}
.ellipsis {
  display: inline-block;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  border: 0;
  box-shadow: 5px 5px 15px -7px rgba(0, 0, 0, 0.75);
}
.btn-red {
  background-color: #fe1e52 !important;
  color: white !important;
}
.btn-green {
  background-color: #01f58a !important;
  color: white !important;
}
.btn-blue {
  background-color: #1c97df !important;
  color: white !important;
}
.btn-fixed {
  position: fixed;
  bottom: 50px;
  right: 50px; 
}
.btn-fixed a{
  color: white;
}

